.post_container{
  display: grid;
  grid-template-columns:  14vw 14vw 14vw 14vw 14vw;
  padding: 1px;
}

.post{
    position: relative;
    color: #443f3f;
      margin: 20px 20px;
    width: 180px;
    height: 200px;
    border-style: groove;
  
  }

.specifications {
    background-color: rgb(196, 193, 193);
    border-color: black;
	}

.specifications  p {
		font-size: 10px;
    margin: 1em;
    margin-top: 0em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  
  
.hidden {
    display: none;
}
    
.show {
    display: inline-block;
}